html{
    line-height: 1.15;
    display: block;
    color: #212529;
}
.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin-bottom: 150px;
}
.header{
    width:100vw;
    background-image: url("./images/about-hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 625px;
    margin-bottom: 150px;
    
}
/* @media(min-width:600){
    .header{
        height:1000px;
    }
} */

.heading {
    margin: 0 0 50px 0;
}

.orange {
    color: #FA6F5D;
}

.uppercase {
    text-transform: uppercase;
}

  .hero-header{
    background-color: #FA6F5D;
    position: absolute;
    top:12.1rem;
    margin-left:auto;
    margin-right:auto;
    width:88.5vw;
    overflow-x: hidden;
     
} 

.hero--main-header{
    color:white;
    
    text-transform: uppercase;
    margin-top:3vw;
    margin-left:3rem;
    margin-bottom:.5rem;
    font-size: 1.2vw;
}
.hero--sub {
    color:white;
    font-weight: 100;
    font-size:2.5vw;
    text-transform: uppercase;
    margin-left:3rem;
    margin-right:3rem;
    margin-bottom:4vw;
}  

.pane--intro {
    margin: 0 0 50px 0;
}

.pane--intro-english {
    color: #313638;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.pane--intro-spanish {
    color: #ccc;
    text-transform: uppercase;
    font-weight: 600;
}

.about-us{
    background-color:white;
    margin: 150px 0;
}

.about-us p {
    font-size: 18px;
    font-weight: 300;
}

.container-horizontal-scroll {
}
.container-4-things-about-us{
    height:20rem;
    background-color:#FA6F5D;
}

.our-process{
    background-color:white;
    padding: 150px 0;
}

.our-team{
    background-color:white;
}
.container-clients{
    height:20rem;
    background-color:red;
}
.container-our-blog{
    height:20rem;
    background-color:white;
}
.container-footer{
     height:30rem;
     background-color:grey;
}


