*,
*::after,
*::before {
    margin:0;
    padding:0;
    /* box-sizing: inherit; */
}
html{
    /* font-size: 100%; */
    /* font-family: sans-serif; */
    line-height: 1;
    display: block;
}
/* .container{
    margin-left:15px;
    padding:0;
} */


body {
    /* font-family: "effra", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}
.header{
    width:100vw;
    background-image: url("https://micstura.frb.io/assets/images/heroes/about-hero.jpg");
    height:625px;
    background-size: cover;
    background-position: top;
    position: relative;
}
 .hero-header{
    background-color: #FA6F5D;
    position: absolute;
    top:12.1rem;
    left:5.2rem;
    width:88.5vw;
    height:15rem;
     
} 
.hero--main-header{
    color:white;
    
    text-transform: uppercase;
    margin-top:3rem;
    margin-left:3rem;
    margin-bottom:.5rem;
    font-size: 1.2vw;
}
.hero--sub {
    color:white;
    font-weight: 100;
    font-size:2.5vw;
    text-transform: uppercase;
    margin-left:3rem;
    margin-right:3rem;
} 





.about-us{
    height:20rem;
    background-color:white;
}

.container-horizontal-scroll {
    height:40rem;
    background-color: green;
}
.container-4-things-about-us{
    height:20rem;
    background-color:#FA6F5D;
}
.container-our-process{
     height:20rem;
    background-color:white;
}
.container-our-team{
    height:20rem;
    background-color:white;
}
.container-clients{
    height:20rem;
    background-color:red;
}
.container-our-blog{
    height:20rem;
    background-color:white;
}
.container-footer{
     height:30rem;
     background-color:grey;
}


